!!!
%html
	%head
		%link{:href => 'assets/application.css', :rel => 'stylesheet', :type => 'text/css'}
		%script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
		%script{:src => 'assets/application.js'}
		%script{:src => 'assets/jquery-ui-1.8.16.custom.min.js'}
	%body
		%div.container
			%div.date-selector
				%span.date
			%div.calendar-container
				%div.calendar.pull-left
					%table{:style => "display: none"}
						%caption June 2008
						%thead
							%tr
								%th Mon
								%th Tue
								%th Wed
								%th Thu
								%th Fri
								%th Sat
								%th Sun
						%tbody
				%div.scroll.pull-right
					#year.scroll-bar
						%div.handle#draggable-year
						%ul
					#month.scroll-bar
						%div.handle#draggable-month
						%ul
