html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* variables.scss
 * Variables and mixins to pre-ignite any new web development project
 * ------------------------------------------------------------------ */
/* Mixins.scss
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    zoom: 1; }
  .clearfix:after {
    clear: both; }

.fixed-container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1; }
  .fixed-container:before, .fixed-container:after {
    display: table;
    content: "";
    zoom: 1; }
  .fixed-container:after {
    clear: both; }

/*
 * Scaffolding.scss
 * Basic and global styles for generating a grid system, structural layout, and page templates
 * ------------------------------------------------------------------------------------------- */
body {
  background-color: white;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #404040; }

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1; }
  .container:before, .container:after {
    display: table;
    content: "";
    zoom: 1; }
  .container:after {
    clear: both; }

.container-fluid {
  position: relative;
  min-width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  zoom: 1; }
  .container-fluid:before, .container-fluid:after {
    display: table;
    content: "";
    zoom: 1; }
  .container-fluid:after {
    clear: both; }
  .container-fluid > .sidebar {
    position: absolute;
    top: 0;
    left: 20px;
    width: 220px; }
  .container-fluid > .content {
    margin-left: 240px; }

a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit; }
  a:hover {
    color: #00438a;
    text-decoration: underline; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.hide {
  display: none; }

.show {
  display: block; }

.row {
  zoom: 1;
  margin-left: -20px; }
  .row:before, .row:after {
    display: table;
    content: "";
    zoom: 1; }
  .row:after {
    clear: both; }

.row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px; }

.span1 {
  width: 40px; }

.span2 {
  width: 100px; }

.span3 {
  width: 160px; }

.span4 {
  width: 220px; }

.span5 {
  width: 280px; }

.span6 {
  width: 340px; }

.span7 {
  width: 400px; }

.span8 {
  width: 460px; }

.span9 {
  width: 520px; }

.span10 {
  width: 580px; }

.span11 {
  width: 640px; }

.span12 {
  width: 700px; }

.span13 {
  width: 760px; }

.span14 {
  width: 820px; }

.span15 {
  width: 880px; }

.span16 {
  width: 940px; }

.span17 {
  width: 1000px; }

.span18 {
  width: 1060px; }

.span19 {
  width: 1120px; }

.span20 {
  width: 1180px; }

.span21 {
  width: 1240px; }

.span22 {
  width: 1300px; }

.span23 {
  width: 1360px; }

.span24 {
  width: 1420px; }

.row > .offset1 {
  margin-left: 80px; }
.row > .offset2 {
  margin-left: 140px; }
.row > .offset3 {
  margin-left: 200px; }
.row > .offset4 {
  margin-left: 260px; }
.row > .offset5 {
  margin-left: 320px; }
.row > .offset6 {
  margin-left: 380px; }
.row > .offset7 {
  margin-left: 440px; }
.row > .offset8 {
  margin-left: 500px; }
.row > .offset9 {
  margin-left: 560px; }
.row > .offset10 {
  margin-left: 620px; }
.row > .offset11 {
  margin-left: 680px; }
.row > .offset12 {
  margin-left: 740px; }

.span-one-third {
  width: 300px; }

.span-two-thirds {
  width: 620px; }

.row > .offset-one-third {
  margin-left: 340px; }
.row > .offset-two-thirds {
  margin-left: 660px; }

/*
 * Tables.scss
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  font-size: 12px;
  border-collapse: collapse; }
  table th,
  table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left; }
  table th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle; }
  table td {
    vertical-align: top;
    border-top: 1px solid #ddd; }
  table tbody th {
    border-top: 1px solid #ddd;
    vertical-align: top; }

.condensed-table th,
.condensed-table td {
  padding: 5px 5px 4px; }

.bordered-table {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .bordered-table th + th,
  .bordered-table td + td,
  .bordered-table th + td {
    border-left: 1px solid #ddd; }
  .bordered-table thead tr:first-child th:first-child,
  .bordered-table tbody tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0; }
  .bordered-table thead tr:first-child th:last-child,
  .bordered-table tbody tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0; }
  .bordered-table tbody tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px; }
  .bordered-table tbody tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0; }

table .span1 {
  width: 20px; }
table .span2 {
  width: 60px; }
table .span3 {
  width: 100px; }
table .span4 {
  width: 140px; }
table .span5 {
  width: 180px; }
table .span6 {
  width: 220px; }
table .span7 {
  width: 260px; }
table .span8 {
  width: 300px; }
table .span9 {
  width: 340px; }
table .span10 {
  width: 380px; }
table .span11 {
  width: 420px; }
table .span12 {
  width: 460px; }
table .span13 {
  width: 500px; }
table .span14 {
  width: 540px; }
table .span15 {
  width: 580px; }
table .span16 {
  width: 620px; }

.zebra-striped tbody tr:nth-child(odd) td,
.zebra-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }
.zebra-striped tbody tr:hover td,
.zebra-striped tbody tr:hover th {
  background-color: #f5f5f5; }

table .header {
  cursor: pointer; }
  table .header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000 transparent;
    visibility: hidden; }
table .headerSortUp,
table .headerSortDown {
  background-color: rgba(141, 192, 219, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
table .header:hover:after {
  visibility: visible; }
table .headerSortDown:after,
table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6; }
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6; }
table .blue {
  color: #049cdb;
  border-bottom-color: #049cdb; }
table .headerSortUp.blue,
table .headerSortDown.blue {
  background-color: #ade6fe; }
table .green {
  color: #46a546;
  border-bottom-color: #46a546; }
table .headerSortUp.green,
table .headerSortDown.green {
  background-color: #cdeacd; }
table .red {
  color: #9d261d;
  border-bottom-color: #9d261d; }
table .headerSortUp.red,
table .headerSortDown.red {
  background-color: #f4c8c5; }
table .yellow {
  color: #ffc40d;
  border-bottom-color: #ffc40d; }
table .headerSortUp.yellow,
table .headerSortDown.yellow {
  background-color: #fff6d9; }
table .orange {
  color: #f89406;
  border-bottom-color: #f89406; }
table .headerSortUp.orange,
table .headerSortDown.orange {
  background-color: #fee9cc; }
table .purple {
  color: #7a43b6;
  border-bottom-color: #7a43b6; }
table .headerSortUp.purple,
table .headerSortDown.purple {
  background-color: #e2d5f0; }

td.selected {
  background-color: #f1da36;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(#f1da36));
  background-image: -moz-linear-gradient(top, white, #f1da36);
  background-image: -ms-linear-gradient(top, white, #f1da36);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f1da36));
  background-image: -webkit-linear-gradient(top, white, #f1da36);
  background-image: -o-linear-gradient(top, white, #f1da36);
  background-image: linear-gradient(top, white, #f1da36);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f1da36', GradientType=0); }

.date-selector {
  background-image: url(../assets/calendar.png);
  background-position: right center;
  background-repeat: no-repeat;
  width: 100px;
  padding-right: 20px; }

.calendar-container {
  width: 400px;
  height: 400px;
  margin-top: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }
  .calendar-container .calendar {
    width: 250px;
    height: 100%;
    background-color: #bfbfbf;
    overflow: hidden; }
  .calendar-container .scroll {
    height: 100%; }
    .calendar-container .scroll #month.scroll-bar {
      width: 85px;
      margin-right: 2px; }
    .calendar-container .scroll #year.scroll-bar {
      width: 60px; }
    .calendar-container .scroll .scroll-bar {
      height: 100%;
      background-color: #bfbfbf;
      background-repeat: no-repeat;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bfbfbf), color-stop(50%, white), to(#bfbfbf));
      background-image: -webkit-linear-gradient(#bfbfbf, white 50%, #bfbfbf);
      background-image: -moz-linear-gradient(#bfbfbf, white 50%, #bfbfbf);
      background-image: -ms-linear-gradient(#bfbfbf, white 50%, #bfbfbf);
      background-image: -o-linear-gradient(#bfbfbf, white 50%, #bfbfbf);
      background-image: linear-gradient(#bfbfbf, white 50%, #bfbfbf);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#bfbfbf', GradientType=0);
      float: right;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      .calendar-container .scroll .scroll-bar ul {
        text-align: center; }
        .calendar-container .scroll .scroll-bar ul li {
          padding: 5px;
          height: 20px; }
      .calendar-container .scroll .scroll-bar .handle {
        background-color: black;
        background-repeat: repeat-x;
        background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(black));
        background-image: -moz-linear-gradient(top, white, black);
        background-image: -ms-linear-gradient(top, white, black);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, black));
        background-image: -webkit-linear-gradient(top, white, black);
        background-image: -o-linear-gradient(top, white, black);
        background-image: linear-gradient(top, white, black);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='black', GradientType=0);
        width: 100%;
        opacity: 0.7;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
      .calendar-container .scroll .scroll-bar #draggable-month.handle {
        height: 50px; }
      .calendar-container .scroll .scroll-bar #draggable-year.handle {
        height: 25px; }

#year ul {
  margin-top: -25px; }

#month ul {
  margin-top: -30px; }

table th, table td {
  padding: 5px 5px 9px; }
